<form method="POST" action="https://formspree.io/lydvalencia@gmail.com">
    <input type="hidden" name="_language" value="es" />
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Escribe tu nombre" required>
    </div>

    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Escribe tu email" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control input-medium bfh-phone" data-country="ES" placeholder="Escribe tu teléfono" required>
    </div>
    <div class="form-group">
        <textarea class="form-control" name="message" placeholder="Dinos tu problema y contactaremos contigo lo más rápidamente posible."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
